        {{> header}}
   <section class="dashboard">
            <h1>Dashboard</h1>
            <nav class="navbar">
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Cats</a></li>
                    <li><a href="#">Dogs</a></li>
                    <li><a href="#">Parrots</a></li>
                    <li><a href="#">Reptiles</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </nav>       
        </section>
<ul class="other-pets-list">
   {{#each pets}}
       {>pet}
   {{/each}}
            </ul>

                  {{> footer}}