{{>header}}
{{#if isAuth}}
    <section id="viewCatalog" class="background-img">
            <a href="#/addFlight" class="add-flight">Add Flight +</a>

            <div class="added-flights">
                {{#each flights}}
                     <a href="" class="added-flight">
                    <img src="{{img}}">
                    <h3>{{origin}}</h3>
                    <span>from {{destination}}</span><span>{{departureDate}}</span>
                </a>
                {{/each}}
               
            </div>
        </section>
{{/if}}
        
{{>footer}}