#create{
    text-align: center;
    color: white;
    background-color: #496ACA;
    margin-top: 100px;
    border-radius: 10px;
    padding: 2px 20px 20px;
}

#newName{
    color: black;
}

#create>input{
    color: black;
}

button{
    background-color: white;
    border-radius: 5px;
    color: #496ACA;
}

h2{
    text-align: center;
}
